<!DOCTYPE html>
<html>
<head>
  <title>{{ post.title }}</title>
</head>
<body>
  <a href="/">← Back</a>
  <h1>{{ post.title }}</h1>
  <p><em>{{ post.published }}</em></p>
  <div>{{ post.content | safe }}</div>
</body>
</html>
